<a href="https://colab.research.google.com/github/Ramprasad-muppana/programming-/blob/main/PANDAS_1ST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import pandas as pd
a=pd.Series([10,20,30])
print(a)

0    10
1    20
2    30
dtype: int64

In [68]:
b=pd.Series(["wewe","ewwwew","dfwfs"],index=[2,5,6])
print(b)

2      wewe
5    ewwwew
6     dfwfs
dtype: object

In [69]:
c=pd.Series([1,2,3],index=(['jan','feb',"mar"]))
print(c)

jan    1
feb    2
mar    3
dtype: int64

In [70]:
d=pd.Series(["RAM","MUKESH","PRABHU","KALYAN","ABHI"],index=([541,542,528,529,531]))
print(d)

541       RAM
542    MUKESH
528    PRABHU
529    KALYAN
531      ABHI
dtype: object

In [71]:
import numpy as np
z=np.array([1,2,3,4,5])
y=pd.Series(z)
print(y)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [72]:
s4=pd.Series(z,index=["jan","feb","mar","april","may"])
print(s4)

jan      1
feb      2
mar      3
april    4
may      5
dtype: int64

In [73]:
d1={'india':"new delhi",'paksitan':'karachi','iran':'afgan','japan':'tokyo'}
print(d1)
d2=pd.Series(d1)
print(d2)

{'india': 'new delhi', 'paksitan': 'karachi', 'iran': 'afgan', 'japan': 'tokyo'}
india       new delhi
paksitan      karachi
iran            afgan
japan           tokyo
dtype: object

In [74]:
print(d2[2])
print(s4[2])
print(y[3])

afgan
3
4

In [75]:
s4["april"]

4

In [76]:
num=pd.Series([1,3,23,45])
num[[0,2]]

0     1
2    23
dtype: int64

In [77]:
country=pd.Series(["new","wash","london","Paris"],index=["india",'USA',"UK","france"])
#country[0:3]
print(country[::-1])

france     Paris
UK        london
USA         wash
india        new
dtype: object

In [78]:
#name for vakuaes using .name
country.name='captials'
print(country)

india        new
USA         wash
UK        london
france     Paris
Name: captials, dtype: object

In [79]:
#used to give name to indez
country.index.name='Countries'
print(country)

Countries
india        new
USA         wash
UK        london
france     Paris
Name: captials, dtype: object

In [80]:
print(country.values)

['new' 'wash' 'london' 'Paris']

In [81]:
print(country.empty)#used to check whteer given string is empty or not

False

In [82]:
print(country.head(5))

Countries
india        new
USA         wash
UK        london
france     Paris
Name: captials, dtype: object

In [83]:

print(country.count())

4

In [84]:
print(country.tail(2))

Countries
UK        london
france     Paris
Name: captials, dtype: object

In [85]:
val1=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
val2=pd.Series([1000,-20,300,-40,-50],index=['a','b','c','d','e'])
val3=pd.Series([10,20,30,40,500],index=['a','b','c','d','e'])
df=pd.DataFrame([val1,val2,val3])
df

      a   b    c   d    e
0    10  20   30  40   50
1  1000 -20  300 -40  -50
2    10  20   30  40  500

In [86]:
df.to_csv('excel.csv')
df

      a   b    c   d    e
0    10  20   30  40   50
1  1000 -20  300 -40  -50
2    10  20   30  40  500

In [87]:
data={'apples':[3,2,1,4],'oranges':[0,3,4,5]}
pur=pd.DataFrame(data)
pur

   apples  oranges
0       3        0
1       2        3
2       1        4
3       4        5

In [90]:
val4=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
val5=pd.Series([1000,-20,300,-40,-50],index=['a','b','c','d','e'])
print(val4+val5)
print(val4-val5)
print(val4*val5)

a    1010
b       0
c     330
d       0
e       0
dtype: int64
a   -990
b     40
c   -270
d     80
e    100
dtype: int64
a    10000
b     -400
c     9000
d    -1600
e    -2500
dtype: int64